<table class="table">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th>Ten de bai</th>
      <th>Mon</th>
      <th>Mo ta</th>
      <th>Ngay bat dau</th>
      <th>Ngay ket thuc</th>
      <th>Thoi gian lam</th>
      <th>Chuong</th>
      <th>Trong so</th>
      <th>Ngay tao</th>
      <th class="text-right">Hanh dong</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "teachers/tests/test", collection: @tests, as: :_test, locals: {subject: current_user.subjects.first.name} %>
  </tbody>
</table>

<%= paginate @tests %>
