<footer class="navbar navbar-inverse navbar-expand-lg bg-dark bg-gradient fixed-bottom mb-0">
  <!-- Copyright -->
  <div class="container justify-content-center">
    <div class="navbar-translate">
      © 2021 Copyright:
      <%= link_to "uet.vnu.edu.vn", "https://uet.vnu.edu.vn/", class: "navbar-brand" %>
    </div>
  </div>
  <!-- Copyright -->
</footer>
