<div class="form-group bmd-form-group">
  <ul class="pagination pagination-info justify-content-center">
    <li class="page-item"><a href="javascript:void(0);" class="page-link"> prev</a></li>
    <li class="page-item"><a href="javascript:void(0);" class="page-link">1</a></li>
    <li class="page-item"><a href="javascript:void(0);" class="page-link">2</a></li>
    <li class="active page-item"><a href="javascript:void(0);" class="page-link">3</a></li>
    <li class="page-item"><a href="javascript:void(0);" class="page-link">4</a></li>
    <li class="page-item"><a href="javascript:void(0);" class="page-link">5</a></li>
    <li class="page-item"><a href="javascript:void(0);" class="page-link">next </a></li>
  </ul>
</div>
