<table class="table">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th>Ten de bai</th>
      <th>Mon</th>
      <th>Loai de</th>
      <th>Do kho</th>
      <th>Ngay tao</th>
      <th class="text-right">Hanh dong</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center py-auto">1</td>
      <td>De kiem tra giua ky</td>
      <td>Toan</td>
      <td>De kiem tra</td>
      <td>Trung binh</td>
      <td>20/11/2020</td>
      <td class="td-actions text-right">
        <button type="button" rel="tooltip" class="btn btn-fab btn-round btn-sm btn-success">
          <i class="material-icons">share</i>
        </button>
        <button type="button" rel="tooltip" class="btn btn-fab btn-round btn-sm btn-info">
          <i class="material-icons">insert_link</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<%= render partial: "shared_example/pagination" %>
