<div class="dropdown tab-content gutter-ys">
  <button class="btn btn-secondary dropdown-toggle shadow-lg ml-0 border border-sidebar" type="button"
    id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Tạo câu hỏi
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li class="dropdown-item add-multi-choice cursor-pointer">Trắc nghiệm</li>
    <li class="dropdown-item add-essay cursor-pointer">Tự luận</li>
  </ul>
</div>
<div class="border-bottom border-sidebar gutter-ys"></div>
