<div class="form-group">
  <p class="title-question"></p>
  <%= f.cktext_area draft_test[:questions][][:content], class: "form-control" %>
  <%= f.hidden_field draft_test[:questions][][:type], value: :multiple_choice %>
</div>
<div class="form-group">
  <p>Đáp án</p>
  <%= render 'field_answer', f: ans %>
  <%= link_to '#', class: "btn btn-white shadow-lg border border-sidebar ml-auto" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
