<div class="form-check form-check-radio form-check-inline">
  <label class="form-check-label">
    <%= f.radio_button :shared_status, shared_status, class: "form-check-input" %> <%= t ".#{shared_status}" %>
    <span class="circle">
        <span class="check"></span>
    </span>
  </label>
</div>
