<table class="table">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th>Tên đề bài</th>
      <th>Môn</th>
      <th>Mô tả</th>
      <th>Ngày bắt đầu</th>
      <th>Ngày kết thúc</th>
      <th>Thời gian làm</th>
      <th>Ngày tạo đề</th>
      <th class="text-right">Hành động</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "draft_test", collection: @draft_tests, as: :draft_test, locals: {subject: current_user.subjects.first.name} %>
  </tbody>
</table>

<%= paginate @draft_tests %>
