<div class="col-md-1">
  <ul class="nav form-group bmd-form-group flex-column sticky-taskbar" role="tablist" id="sidebar-teacher">
    <li class="nav-item">
      <%= link_to "#", class: "btn btn-white btn-fab btn-round",
        "data-toggle": "tooltip", "data-placement": "right", title: "Lop cua toi",
        "data-container": "body", "data-original-title": "Lop cua toi" do %>
        <i class="material-icons text-primary">school</i>
        <div class="ripple-container"></div>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#", class: "btn btn-white btn-fab btn-round",
        "data-toggle": "tooltip", "data-placement": "right", title: "Nhom cua toi",
        "data-container": "body", "data-original-title": "Nhom cua toi" do %>
        <i class="material-icons text-muted">groups</i>
        <div class="ripple-container"></div>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#", class: "btn btn-white btn-fab btn-round",
        "data-toggle": "tooltip", "data-placement": "right", title: "De cua toi",
        "data-container": "body", "data-original-title": "De cua toi" do %>
        <i class="material-icons text-muted">assignment</i>
        <div class="ripple-container"></div>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#", class: "btn btn-white btn-fab btn-round",
        "data-toggle": "tooltip", "data-placement": "right", title: "Tai lieu cua toi",
        "data-container": "body", "data-original-title": "Tai lieu cua toi" do %>
        <i class="material-icons text-muted">folder</i>
        <div class="ripple-container"></div>
      <% end %>
    </li>
  </ul>
</div>
