@import './constant.scss';

.gutter-xs {
  margin: 0 0.5rem;
}

.gutter-ys {
  margin: 0.5rem 0;
}

.padding-ys {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-xs {
  padding-left: 1rem;
  padding-right: 1rem;
}

.border-sidebar {
  border-color: $blue-grey;
}

.cursor-pointer {
  cursor: pointer;
}

label {
  color: $blue-grey-primary !important;
}

.fix_label {
  margin-bottom: 13px;
}

.material-icons.trash-color {
  color: $dangerous;
}

.sticky-taskbar, ul.sticky-taskbar {
  position: -webkit-sticky;
  position: sticky;
  top: 6rem;
}

svg {
  width: 8rem;
}
